allow untrusted_app_27 proc_vmstat:file { open };
allow untrusted_app_27 proc_vmstat:file { getattr };
allow untrusted_app_27 sysfs_kgsl:lnk_file { read };
